body{
    background-color: #e9f0f5;
    color: rgb(33, 33, 94);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

#container{
    width: 400px;
    text-align: center;
    margin: auto; 
    padding: 10px 10px 10px 10px;
}

h4{
    text-align: left;
    padding: 10px 10px 10px 10px;
}

#contact{
    margin: auto;
    text-align: left;
    width: 360px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 0px 10px 0px;
}

#ratsa{
    font-style: italic;
    font-weight: lighter;
}





