body{
    background-color: #e9f0f5;
    color: rgb(33, 33, 94);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 390px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
   
}

#kontakt{
    font-size: x-small;
}

#ratsa{
    font-style: italic;
    font-size: x-small;
}





