body{
    background-color: #e9f0f5;
    color: rgb(33, 33, 94);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  
    border-radius: 100;
}

span{
    white-space: nowrap;
}

#ratsa{
    font-style: italic;  
    font-size: x-small;
}

a{
    color: rgb(33, 33, 94);
}

h2{
    display: inline-block;
    padding: 10px;
    color: green;
}







