body{
    background-color: #e9f0f5;
    color: rgb(33, 33, 94);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
}

span{
    white-space: nowrap;
}

#kontakt{
    font-size: x-small;
}

#ratsa{
    font-style: italic;
    font-size: x-small;
}

a{
    color: rgb(33, 33, 94);
    text-decoration: none;
    background-color: azure;
}








