body{
    background-color: #e9f0f5;
    color: rgb(33, 33, 94);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 390px;
}

#container{
   
    text-align: left;
    margin: auto; 
    padding: 10px 10px 10px 10px;
}

#tekst{
    margin: auto;
    text-align: left;
   
    border-bottom: solid 1px;
    padding-bottom: 5px;
}

#kontakt{
    margin: auto;
    text-align: center;
    
    padding-top: 20px;
}

#ratsa{
    font-style: italic;
    font-size: smaller;
    margin: auto;
    text-align: center;
    
    padding-top: 20px;
}





